<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    $( document ).ready(function() {

    $('#btnSignUp').click(function() {

        $.ajax({
            url: '/',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    location.reload();
    });
});

</script>

</head>
<body>


<div class="container">
<h1>Trends</h1><br/>

  <form action="/">

    Input 1 :<select name="Input1" id="Input1">
  <option value="1">Housing Prices</option>
  <option value="2">Military Purchase</option>
  <option value="3">Housing Prices and Military</option>
  <option value="4">Death rates</option>
</select>
<br/>
Range :<select name="Range" id="Range">
  <option value="1">Present Value</option>
  <option value="2">Last 5 years</option>
  <option value="3">Last 10 years</option>
</select>
<br/> <br/>
   <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button" style="width:100px">Submit</button>
      <br/>
      <br/>
</form>


<h1>Output</h1>
<img src="static/output.png" style="float:right"/>
</div>
</body>
</html>
